/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/style.sass */
body {
  max-width: 1200px;
  min-width: 320px;
  height: 100%;
  font-family: SegoeUILight;
  font-size: 14pt;
  margin: 0 auto;
  background-color: #ffffff;
}

/* line 15, ../sass/style.sass */
header {
  margin: 0 auto;
  background: url("../img/test.jpg");
}

/* line 20, ../sass/style.sass */
.logo {
  float: left;
}
/* line 22, ../sass/style.sass */
.logo h1 {
  font-size: 24pt;
  color: #ffffff;
  font-family: SegoeUIBold;
  padding-top: 36px;
  padding-bottom: 36px;
  letter-spacing: 1px;
}

/* line 30, ../sass/style.sass */
.nav-menu {
  float: right;
}
/* line 32, ../sass/style.sass */
.nav-menu ul {
  padding-top: 42px;
  display: inline-block;
}
/* line 35, ../sass/style.sass */
.nav-menu ul li {
  display: inline-block;
  padding-right: 28px;
}
/* line 38, ../sass/style.sass */
.nav-menu ul li a {
  text-transform: uppercase;
  font-size: 16pt;
  font-family: SegoeUIRegular;
  font-weight: bold;
  color: #e1e1e1;
}

/* line 45, ../sass/style.sass */
.header-main {
  text-align: center;
}
/* line 49, ../sass/style.sass */
.header-main .header-main-text {
  margin-top: 200px;
  margin-bottom: 80px;
}
/* line 52, ../sass/style.sass */
.header-main .header-main-text h1 {
  padding-bottom: 17px;
  font-family: SegoeUILight;
  font-size: 50pt;
  color: #ffffff;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* line 59, ../sass/style.sass */
.header-main .header-main-text h2 {
  padding-top: 17px;
  font-family: SegoeUIRegular;
  font-size: 28pt;
  color: #ffffff;
}

/* line 65, ../sass/style.sass */
a.start-tour, a.send-quote {
  display: block;
  border: 2px solid #ffffff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  padding: 18px 50px;
  color: #ffffff;
  font-family: SegoeUIRegular;
  text-transform: uppercase;
  -webkit-transition: background-color 1s ease-out 0.1s;
  -moz-transition: background-color 1s ease-out 0.1s;
  -ms-transition: background-color 1s ease-out 0.1s;
  -o-transition: background-color 1s ease-out 0.1s;
  transition: background-color 1s ease-out 0.1s;
}
/* line 81, ../sass/style.sass */
a.start-tour:hover, a.send-quote:hover {
  background-color: #ffffff;
  color: #000;
}

/* line 85, ../sass/style.sass */
.slider-nav {
  margin-top: 80px;
  margin-bottom: 30px;
}
/* line 88, ../sass/style.sass */
.slider-nav span {
  display: inline-block;
  opacity: 0.9;
  background: url("../img/slide-unactive.png");
  width: 18px;
  height: 18px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}
/* line 99, ../sass/style.sass */
.slider-nav span.on {
  background: #ffffff;
}

/* line 103, ../sass/style.sass */
.about-us {
  background: url("../img/test2.jpg");
  background-position: right top;
  background-repeat: no-repeat;
}

/* line 108, ../sass/style.sass */
.about-us-title h2, .our-approach-title h2, .our-services-title h2 {
  margin-top: 80px;
  margin-bottom: 34px;
  font-family: SegoeUIBold;
  font-size: 28pt;
  text-transform: uppercase;
}

/* line 116, ../sass/style.sass */
.about-us-inner p {
  display: block;
  margin-bottom: 26px;
  font-family: SegoeUILight;
  font-weight: bold;
}
/* line 121, ../sass/style.sass */
.about-us-inner a {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  font-family: SegoeUIRegular;
  margin-top: 30px;
  margin-bottom: 36px;
  padding: 16px 40px;
  background-color: #f211d5;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 12pt;
}

/* line 136, ../sass/style.sass */
.quote1 {
  background: url("../img/quote1-bg.jpg");
}

/* line 138, ../sass/style.sass */
h2.quote {
  padding-top: 54px;
  padding-bottom: 54px;
  font-family: SegoeUILight;
  font-size: 30pt;
  color: #ffffff;
  text-align: center;
}

/* line 146, ../sass/style.sass */
.our-approach {
  background: url("../img/our-approach-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}

/* line 151, ../sass/style.sass */
.our-approach-p {
  display: block;
  margin-bottom: 26px;
  font-family: SegoeUILight;
  font-weight: bold;
}

/* line 158, ../sass/style.sass */
.our-approach-inner p {
  margin-bottom: 30px;
}

/* line 161, ../sass/style.sass */
.quote2 {
  background: url("../img/quote2-bg.jpg");
}

/* line 165, ../sass/style.sass */
.our-services-title h2 {
  text-align: center;
  margin-bottom: 80px;
}

/* line 169, ../sass/style.sass */
.our-services-inner {
  background: url("../img/our-services-inner-bg.jpg");
}

/* line 172, ../sass/style.sass */
.our-services-left {
  margin-top: 110px;
  margin-bottom: 100px;
}
/* line 175, ../sass/style.sass */
.our-services-left p {
  font-family: SegoeUILight;
  color: #ffffff;
}

/* line 179, ../sass/style.sass */
.our-services-right {
  background: url("../img/our-services-right.jpg");
  margin-top: 78px;
  margin-bottom: 48px;
}
/* line 183, ../sass/style.sass */
.our-services-right ul {
  padding-top: 44px;
  padding-left: 120px;
  padding-bottom: 54px;
  color: #ffffff;
  font-size: 13pt;
}
/* line 189, ../sass/style.sass */
.our-services-right ul li {
  display: inline-block;
  padding-top: 3px;
}

/* line 193, ../sass/style.sass */
.our-clients {
  background: #1c40a6;
}

/* line 197, ../sass/style.sass */
.our-clients-title h2 {
  margin-top: 46px;
  margin-bottom: 46px;
  font-family: SegoeUIBold;
  font-size: 22pt;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

/* line 206, ../sass/style.sass */
.socmedia {
  background: url("../img/socmedia-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 211, ../sass/style.sass */
.socmedia-title {
  background: url("../img/soc-media-title-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: 160px;
  margin-bottom: 68px;
}
/* line 217, ../sass/style.sass */
.socmedia-title h2 {
  text-align: center;
  color: #FFFFFF;
  font-family: SegoeUIRegular;
  font-size: 22pt;
  padding: 32px 120px;
}

/* line 224, ../sass/style.sass */
.socmedia-socials {
  text-align: center;
  font-size: 20pt;
  margin-bottom: 136px;
}
/* line 228, ../sass/style.sass */
.socmedia-socials a {
  color: #FFFFFF;
}
/* line 230, ../sass/style.sass */
.socmedia-socials i.fa {
  background: #f211d5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 235, ../sass/style.sass */
.socmedia-socials .fa-facebook {
  padding: 10px 16px;
}
/* line 237, ../sass/style.sass */
.socmedia-socials .fa-twitter, .socmedia-socials .fa-google-plus, .socmedia-socials .fa-envelope {
  padding: 10px 10px;
}

/* line 240, ../sass/style.sass */
footer {
  background: url("../img/footer-bg.jpg");
  text-align: center;
  color: #FFFFFF;
}

/* line 244, ../sass/style.sass */
.footer-inner {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 247, ../sass/style.sass */
.footer-inner p {
  margin-bottom: 14px;
}
/* line 249, ../sass/style.sass */
.footer-inner h4 {
  font-size: 12pt;
  font-family: SegoeUIBold;
}
